<h2>Slide Image</h2>

<div id="slideImage">
    <div class="carousel-inner">
        <div class="thumb-avatar" >
            <img src="" alt="Avatar">
            <i class="fa fa-upload"></i>
            <input type="file" class="input-slide" >
        </div>
        
        <app-btn-prev (click)="prevActiveImage()"></app-btn-prev>
        <app-btn-next (click)="nextActiveImage()"></app-btn-next>
        <div class="carousel-indicator">   
            <ng-container  *ngFor='let in of counter(slideImage); let i = index'>                         
                <app-slide-item [ngClass] = "i === imageActive ? 'active' : ''"></app-slide-item>
            </ng-container>
        </div>
    </div>
</div>