*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host{
    display: inline-block;
    width: calc((100% - 40px) / 4);
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
}

:host:hover img{
    opacity: 1;
}

:host img{
    opacity: .5;
}

:host.active img{
    opacity: 1;
}

.slide-item{
    border: 1px solid #fff;
    background-color: red;
}